			<form action="i244_prax2_kaskmartin_pealeht.html" method="post" id="f1">
				<table>
					<tr>
						<td>Pildi pealkiri</td><td><input type="text" name="pealkiri"></td>
					</tr>

					<tr>
						<td>Pildi autor</td><td><input type="text" name="autor"></td>
					</tr>

					<tr>
						<td>Suur pilt</td><td><input type="file" name="img"></td>
					</tr>

					<tr>
						<td>Väike pilt</td><td><input type="file" name="thumb"></td>
					</tr>

					<tr>
						<td colspan="2"><button type="submit">Lae Üles!</button></td>
					</tr>

				</table>
			</form>