			<p>
                See siin on minu projekt aines I244 Võrgurakendused I: klient-server süsteemide ehitamine.

                Oma projektiks valisin küsitluste koostamise ning jagamise portaali.
            </p>
            <p>
                <a href="http://jigsaw.w3.org/css-validator/check/referer">
                    <img class="validaator" style="border:0;width:88px;height:31px"
                         src="http://jigsaw.w3.org/css-validator/images/vcss-blue"
                         alt="Valid CSS!" />
                </a>
            </p>