
                <h3>See siin on minu projekt aines I244 Võrgurakendused I: klient-server süsteemide ehitamine.</h3>

                <p>Oma projektiks valisin küsitluste koostamise ning jagamise portaali.<br>
                    Testimiseks lisasin jalusesse validaatori lingid<br>
                    Algkood on kättesaadav <a href="https://github.com/KaskMartin/I244_prax/tree/master/PRAX2ja3">siit</a><br><br>
                    Kasutajatunnused testimiseks on järgnevad:</p>

                Kasutaja rollil: <br>
                <ul>Kasutajanimi: kasutaja1</ul>
                <ul>Parool: kasutaja1</ul>

                Administraatori rollil:<br>
                <ul>Kasutajanimi: admin1</ul>
                <ul>Parool: admin1</ul>

