
                <h3>See siin on minu projekt aines I244 Võrgurakendused I: klient-server süsteemide ehitamine.</h3>

                <p>Oma projektiks valisin küsitluste koostamise ning jagamise portaali.<br>
                    Põimõtteliselt on tegu sarnase süsteemiga, mille Grigori Palamarchuk 2 tunniga kokku pani Frameworki kasutades (ning praktikumis ka näitas). Mina oma versioonis Frameworki ei kasutanud ning aega kulus ka kindlasti 10-20x rohkem. See eest said nii mõnedki asjad palju selgemaks.
                    Testimiseks lisasin jalusesse validaatori lingid. Lehekülg on testitud Chrome lehtisejaga.<br>
                    Algkood on kättesaadav tüütu sinise nupu peale vajutades<br><br>
                    Kasutajatunnused testimiseks on järgnevad:</p>

                Kasutaja roll: <br>
                <ul>Kasutajanimi: kasutaja1</ul>
                <ul>Parool: kasutaja1</ul>

                Administraatori roll:<br>
                <ul>Kasutajanimi: admin1</ul>
                <ul>Parool: admin1</ul>

                <br><p>Soovikorral saab ka endale kasutja registreerida. Kõikide registreeritavate kasutajate roll on "user"</p>

                <div id="j2litaja"> <button type="button" onclick="location.href='https://github.com/KaskMartin/I244_prax/tree/master/PRAX2ja3'">
                    Source</button></div>

