<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="view/style.css">
    <title>I244 Prax, Martin Kask</title>
    <script src="http://code.jquery.com/jquery-1.12.2.min.js"></script>
</head>

<img id="megapilt" src=<?php echo $pilt['big'] ?> alt=<?php echo $pilt['alt'] ?>/><br/>
<span id="inf"><?php echo $pilt['alt'] ?></span>
<a id="prev" href="?mode=pilt&id=<?php echo $eelmine; ?>" onclick="showDetails(this); return false;"></a>
<a id="next" href="?mode=pilt&id=<?php echo $jargmine; ?>" onclick="showDetails(this); return false;"></a>