body {
    background-color: lightblue;

}

#vastus {
    color: darkblue;
    font-weight: bold;
    font-size: larger;
    text-align: center;
}


h1 {
    color: navy;
    margin-left: 40px;
}

.Pealkiri {
    color: blue;
}

#kasutajainfo {
    float: right;
    color: black;
}

html, body, #container { height: 100%; }

body > #container { height: auto; min-height: 100%; }

#container {
    position: relative;
    background-color: #9affeb;
    text-align: justify;
    max-width: 1000px;
    min-width: 600px;
    margin: auto;
}

body {
    margin: 0 0 35px;
}

button {
    color: #000;
    text-align: center;
    width: 150px;
    padding: 8px 8px;
    background-color: #f1f1f1;
}

#content {
    margin-left: 10px;
    margin-right: 10px;
}

footer {
    margin: 5px;
    clear: both;
    position: absolute;
    left:0;
    right: 0;
    z-index: 10;
    height: 35px;
    max-width: 1000px;
    min-width: 600px;
    vertical-align:middle;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f1f1f1;
}

.menu li {
    float: left;
}

.menu li a {
    display: block;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* eemaldame linkide allajoonimise*/
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

/* Change the link color on hover */
.menu li a:hover {
    background-color: #555;
    color: white;
}

image {
    border: thick #1924ff;
    float: left;
    /* float-wrap: wrap;*/
}

.validaator {
    border: none;
    float: none;
    border:0;
    width:88px;
    height:31px;
    /* float-wrap: none;*/
}

#taust{ /* taust, mis peidab lehe sisu */
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.7);
    z-index:5;
}
#tabel{ /* toob suure pildi esile ja määrab kuvamise ala tabelina */
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin:0 auto;
    z-index: 10;
    display:table;
    width:100%;
    height:100%;
    color:white;
}
#cell{ /* paigutab pildi ja teksti vertikaalselt keskele nagu tabelivälja */
    display:table-cell;
    vertical-align:middle;
}
#sisu { /* teeb pildi ümbruse kitsamaks ja annab tausta */
    display: table;
    margin: auto;
    background: rgba(0,0,0,0.7);
    padding: 10px 40px;
    position:relative;
}
#sulge { /* sulgemise element */
    position: fixed;
    top: 0;
    right: 0;
    z-index: 15;
    padding:4px;
    font-weight: bold;
}
#hoidja {  /* ümbritseb kogu suure pildi elementide hulka 0px kõrgusena, et teised elemendid taga oleks kasutatavad*/
    height: 0px;
}

#prev, #next {
    display:block;
    position: absolute;
    top:0px;
    bottom:0px;
    width: 40px;
}
#prev:hover, #next:hover{
    background-color: rgba(255,255,255,0.1);
}
#prev {
    left:0px;
    background: url("../img/prev.png") center no-repeat;
    height: 45px;
    width: 32px;
}
#next {
    right:0px;
    background: url("../img/next.png") center no-repeat;
    height: 45px;
    width: 32px;
}

#inf {
    color: white;
}

.kiisuke {
    text-decoration: none;
    color: #9affeb;
}